{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <section class="galeria" style="margin-left: 5em">
        <form action="{% url 'edit_image' photoId %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'partials/_form_fields.html' %}
            <div>
                <button class="col-12 btn btn-success" style="padding: top 5px;" type="submit">Salvar edições</button>
            </div>
        </form>
    </section>
{% endblock %}