{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
    <section class="conteudo">
        <section class="imagem">
            <div class="imagem__conteudo">
                {% if photo.photoPath == '' or photo.photoPath == null %}
                    <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/not-found.png'%}" alt="foto">
                {% else %}
                    <img class="imagem__imagem" src="{{ photo.photoPath.url }}" alt="foto">
                {% endif %}
                <div class="imagem__info">
                    <div class="imagem__texto">
                        <p class="imagem__titulo">{{ photo.name }}</p>
                        <p class="imagem__descricao">{{ photo.subtitle }}</p>
                        <p class="imagem__texto">{{  photo.description }}</p>
                    </div>
                    {% if request.user == photo.user%}
                    <div>
                        <a href="{% url 'edit_image' photo.id %}">
                            <button class="col-12 btn btn-success" style="padding: top 5px;" type="submit">Editar fotografia</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </section>
{% endblock %}